/* ===========================================
   REPERTORIO KRISÁLIDA v2
   Claymorphism + Glassmorphism
=========================================== */

:root{

    --fondo:#09111F;
    --panel:#17233A;
    --panel2:#22314D;
    --panel3:#2A3B5D;

    --celeste:#28B6FF;
    --celeste2:#5CCEFF;

    --dorado:#D7B45C;
    --dorado2:#F1CB70;

    --texto:#FFFFFF;
    --gris:#BFC8D8;

    --success:#27AE60;
    --danger:#E74C3C;

    --radio:24px;

    --borde:rgba(255,255,255,.08);

    --sombra:
        0 20px 40px rgba(0,0,0,.35);

    --transicion:.30s;

}

/* ===================== */

*{

    margin:0;
    padding:0;

    box-sizing:border-box;

}

html{

    scroll-behavior:smooth;

}

body{

    font-family:"Segoe UI",sans-serif;

    color:white;

    min-height:100vh;

    background:

    radial-gradient(circle at top left,#28B6FF25,transparent 28%),

    radial-gradient(circle at bottom right,#D7B45C20,transparent 32%),

    linear-gradient(135deg,#09111F,#101827,#09111F);

}

/* Scroll */

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-thumb{

    background:var(--celeste);

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#111827;

}

/* ===================== */

header{

    width:96%;

    height:90px;

    margin:20px auto;

    padding:0 30px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    border-radius:25px;

    background:rgba(23,35,58,.75);

    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.08);

    box-shadow:

    0 15px 40px rgba(0,0,0,.40);

}

/* ===================== */

.logo{

    display:flex;

    align-items:center;

    gap:18px;

}

.logo img{

    width:65px;

    height:65px;

    object-fit:contain;

}

.logo h1{

    font-size:38px;

    line-height:35px;

    color:var(--celeste);

    letter-spacing:1px;

}

.logo h2{

    color:var(--dorado);

    font-size:18px;

    margin-top:4px;

}

/* ===================== */

main{

    width:96%;

    margin:auto;

}

/* ===========================================
   CATEGORÍAS
=========================================== */

#inicio{

    animation:fade .5s;

}

#inicio h3{

    font-size:30px;

    text-align:center;

    margin:25px 0 40px;

    color:var(--celeste);

    font-weight:700;

    letter-spacing:1px;

}

/* GRID */

.categorias{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

    gap:30px;

}

/* TARJETAS */

.categoria{

    position:relative;

    overflow:hidden;

    height:230px;

    border:none;

    border-radius:28px;

    cursor:pointer;

    color:white;

    background:

    linear-gradient(145deg,#22304A,#182235);

    box-shadow:

    inset 0 2px 2px rgba(255,255,255,.08),

    inset 0 -6px 12px rgba(0,0,0,.25),

    0 18px 35px rgba(0,0,0,.35);

    transition:.35s;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

}

/* EFECTO BRILLO */

.categoria::before{

    content:"";

    position:absolute;

    width:180px;

    height:180px;

    background:

    radial-gradient(circle,

    rgba(40,182,255,.18),

    transparent 70%);

    top:-70px;

    left:-70px;

    transition:.4s;

}

.categoria::after{

    content:"";

    position:absolute;

    width:120px;

    height:120px;

    background:

    radial-gradient(circle,

    rgba(215,180,92,.18),

    transparent 70%);

    bottom:-40px;

    right:-40px;

    transition:.4s;

}

/* HOVER */

.categoria:hover{

    transform:

    translateY(-10px)

    scale(1.03);

    border:1px solid rgba(40,182,255,.35);

    box-shadow:

    0 25px 45px rgba(40,182,255,.20),

    inset 0 2px 2px rgba(255,255,255,.10);

}

.categoria:hover::before{

    transform:scale(1.2);

}

.categoria:hover::after{

    transform:scale(1.3);

}

/* ICONO */

.categoria{

    font-size:inherit;

}

/* TEXTO */

.categoria span{

    font-size:24px;

    font-weight:700;

    margin-top:15px;

    z-index:2;

}

/* EFECTO CLICK */

.categoria:active{

    transform:scale(.98);

}

/* ANIMACIÓN */

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(20px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* ===========================================
   REPERTORIO
=========================================== */

.tabla{

    background:rgba(23,35,58,.70);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:30px;

    padding:25px;

    box-shadow:

        0 25px 60px rgba(0,0,0,.35);

}

/* CABECERA */

.tabla-info{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.tabla-info h3{

    font-size:28px;

    color:var(--celeste);

}

.tabla-info span{

    color:#9FB4D0;

}

/* TABLA */

.tabla table{

    width:100%;

    border-collapse:separate;

    border-spacing:0 12px;

}

/* CABECERA */

.tabla thead th{

    padding:18px;

    color:var(--dorado);

    background:transparent;

    font-size:15px;

    border:none;

}

/* FILAS */

.tabla tbody tr{

    transition:.30s;

}

/* CELDAS */

.tabla tbody td{

    background:#1B2941;

    padding:18px;

    border:none;

}

/* REDONDEO */

.tabla tbody td:first-child{

    border-radius:18px 0 0 18px;

    width:80px;

    font-weight:bold;

    color:var(--celeste);

    text-align:center;

}

.tabla tbody td:last-child{

    border-radius:0 18px 18px 0;

}

/* HOVER */

.tabla tbody tr:hover td{

    background:#263857;

    transform:scale(1.01);

}

/* NOMBRE */

.tabla strong{

    font-size:17px;

    color:white;

}

/* ARTISTA */

.artista{

    display:block;

    margin-top:4px;

    color:#9FB4D0;

    font-size:13px;

}

/* TONO */

.tono{

    display:inline-block;

    background:linear-gradient(

        135deg,

        var(--celeste),

        #1599E0

    );

    color:white;

    min-width:75px;

    text-align:center;

    padding:8px 14px;

    border-radius:50px;

    font-size:14px;

    font-weight:bold;

    box-shadow:

        0 6px 18px rgba(40,182,255,.35);

}

/* ACCIONES */

.acciones{

    display:flex;

    justify-content:center;

    gap:12px;

}

.editar,
.eliminar{

    width:42px;

    height:42px;

    border:none;

    border-radius:14px;

    display:flex;

    align-items:center;

    justify-content:center;

    cursor:pointer;

    transition:.25s;

}

.editar{

    background:linear-gradient(

        135deg,

        var(--celeste),

        #1599E0

    );

    color:white;

}

.eliminar{

    background:linear-gradient(

        135deg,

        #F44336,

        #D32F2F

    );

    color:white;

}

.editar:hover,
.eliminar:hover{

    transform:translateY(-3px);

}

/* NUMERO */

.numero{

    font-size:20px;

    font-weight:bold;

    color:var(--celeste);

}

/*==========================================
            MODAL PREMIUM
==========================================*/

.modal{

    position:fixed;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:center;

    background:rgba(5,10,20,.70);

    backdrop-filter:blur(10px);

    z-index:9999;

    animation:fondoModal .25s;

}

@keyframes fondoModal{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}

.modal-contenido{

    width:800px;

    max-width:95%;

    max-height:90vh;

    overflow:auto;

    padding:35px;

    border-radius:28px;

    background:linear-gradient(
        145deg,
        #22314D,
        #182235
    );

    border:1px solid rgba(255,255,255,.08);

    box-shadow:

        0 30px 60px rgba(0,0,0,.45);

    animation:modal .25s;

}

@keyframes modal{

    from{

        opacity:0;

        transform:translateY(20px) scale(.96);

    }

    to{

        opacity:1;

        transform:none;

    }

}

.modal h2{

    color:var(--celeste);

    margin-bottom:30px;

    text-align:center;

    font-size:28px;

}

/* CAMPOS */

.campo{

    margin-bottom:20px;

}

.campo label{

    display:block;

    margin-bottom:8px;

    color:var(--dorado);

    font-weight:600;

}

.campo input,
.campo textarea,
.campo select{

    width:100%;

    padding:14px 16px;

    border:none;

    outline:none;

    color:white;

    font-size:15px;

    border-radius:14px;

    background:#101827;

    transition:.25s;

    box-shadow:

        inset 0 2px 5px rgba(0,0,0,.35);

}

.campo input:focus,
.campo textarea:focus,
.campo select:focus{

    box-shadow:

        0 0 0 2px var(--celeste);

}

textarea{

    resize:vertical;

    min-height:120px;

}

/* BOTONES */

.botones{

    display:flex;

    justify-content:flex-end;

    gap:15px;

    margin-top:30px;

}

.guardar{

    background:linear-gradient(
        135deg,
        var(--celeste),
        #179FE8
    );

    color:white;

    padding:14px 24px;

    border-radius:14px;

}

.cancelar{

    background:#313D52;

    color:white;

    padding:14px 24px;

    border-radius:14px;

}

.guardar:hover,
.cancelar:hover{

    transform:translateY(-2px);

}

.acciones-superiores{

    display:flex;

    gap:12px;

    flex-wrap:wrap;

}

.acciones-superiores button{

    border:none;

    color:white;

    padding:12px 18px;

    border-radius:14px;

    cursor:pointer;

    font-weight:bold;

    transition:.25s;

}

#btnImagen{

    background:#1E88E5;

}

#btnPDF{

    background:#E53935;

}

#btnJSON{

    background:#43A047;

}

#agregarCancion{

    background:linear-gradient(
        135deg,
        var(--dorado),
        #E8C15B
    );

    color:#111;

}

.acciones-superiores button:hover{

    transform:translateY(-3px);

}

/*==========================================
        REPERTORIO
==========================================*/

#repertorio{

    display:none;

    animation:fade .35s;

}

#inicio{

    animation:fade .35s;

}

.barra{

    width:1400px;

    max-width:95%;

    margin:auto;

    display:flex;

    align-items:center;

    justify-content:space-between;

    margin-bottom:25px;

}

#listaCanciones{

    width:1400px;

    max-width:95%;

    margin:auto;

}

#volver{

    background:transparent;

    color:var(--celeste);

    border:2px solid rgba(40,182,255,.25);

    border-radius:15px;

    padding:12px 22px;

    font-weight:bold;

    transition:.25s;

}

#volver:hover{

    background:rgba(40,182,255,.15);

    border-color:var(--celeste);

}

#tituloRepertorio{

    font-size:34px;

    color:white;

    letter-spacing:.5px;

}

/*==========================================
            HERO
==========================================*/

.hero{

    text-align:center;

    margin:20px 0 50px;

}

.hero h1{

    font-size:42px;

    color:var(--celeste);

    margin-bottom:10px;

}

.hero p{

    color:#BFC8D8;

    font-size:18px;

}

/*==========================================
            BARRA
==========================================*/

.barra{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:35px;

}

.izquierda{

    display:flex;

    align-items:center;

    gap:20px;

}

.icono{

    font-size:60px;

    margin-bottom:20px;

}

.categoria span{

    font-size:22px;

    font-weight:700;

    color:white;

}

.categoria small{

    margin-top:12px;

    font-size:14px;

    color:#9FAEC6;

    letter-spacing:.5px;

}

.fila-cancion{

    cursor:pointer;

}

.fila-cancion:hover{

    transform:scale(1.01);

}

/*==========================================
            TOOLBAR
==========================================*/

.tabla-tools{

    display:flex;

    align-items:center;

    gap:15px;

}

.tabla-tools input{

    width:260px;

    padding:12px 18px;

    border:none;

    border-radius:14px;

    background:#101827;

    color:#888;

    outline:none;

    cursor:not-allowed;

    opacity:.6;

}

.fila-cancion{

    cursor:grab;

}

.fila-cancion:active{

    cursor:grabbing;

}

.fila-cancion{

    transition:.2s;

}

.fila-cancion:hover{

    transform:scale(1.01);

}

#btnEnsayo{

    background:linear-gradient(
        135deg,
        #8E44AD,
        #6C3483
    );

    color:white;

}

/*==========================================
            SETLIST
==========================================*/

.contenido-repertorio{

    display:grid;

    grid-template-columns:2fr 350px;

    gap:25px;

    align-items:start;

}

#panelSetlist{

    background:rgba(23,35,58,.80);

    backdrop-filter:blur(20px);

    border-radius:25px;

    padding:20px;

    border:1px solid rgba(255,255,255,.08);

    position:sticky;

    top:20px;

}

#panelSetlist h2{

    color:var(--celeste);

    margin-bottom:20px;

}

.itemSet{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:12px;

    padding:12px;

    background:#1B2941;

    border-radius:12px;

}

.numeroSet{

    width:28px;
    height:28px;

    border-radius:50%;

    background:var(--celeste);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:bold;

}

.vacio{

    color:#9FB4D0;

    text-align:center;

    margin:30px 0;

}

.acciones-setlist{

    margin-top:20px;

}

#btnLimpiarSet{

    width:100%;

    background:#D94343;

    color:white;

    padding:12px;

    border-radius:12px;

}

.btn-set{

    width:44px;
    height:44px;

    border:none;
    border-radius:50%;

    background:linear-gradient(
        135deg,
        var(--celeste),
        #1499E2
    );

    color:#fff;

    font-size:26px;
    font-weight:bold;

    display:flex;
    align-items:center;
    justify-content:center;

    cursor:pointer;

    transition:.25s;

}

.btn-set:hover{

    transform:scale(1.08);

    box-shadow:0 0 18px rgba(40,182,255,.45);

}